{
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=DESKTOP-3DJNAT8\\SQLEXPRESS;Initial Catalog=ErpSoftExteriores;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Gen_Rutas",
                    "Identifier": "GenRutas",
                    "Module": "General",
                    "ConnectionKey": "Default",
                    "PermissionKey": "MantenimientoGeneral"
                },
                {
                    "Tablename": "dbo.Gen_TipoIdentificacion",
                    "Identifier": "GenTipoIdentificacion",
                    "Module": "General",
                    "ConnectionKey": "Default",
                    "PermissionKey": "MantenimientoGeneral"
                },
                {
                    "Tablename": "dbo.Gen_Monedas",
                    "Identifier": "GenMonedas",
                    "Module": "General",
                    "ConnectionKey": "Default",
                    "PermissionKey": "MantenimientoGeneral"
                },
                {
                    "Tablename": "dbo.Gen_DivisionesAdministrativasN5",
                    "Identifier": "GenDivisionesAdministrativasN5",
                    "Module": "General",
                    "ConnectionKey": "Default",
                    "PermissionKey": "MantenimientoGeneral"
                },
                {
                    "Tablename": "dbo.Gen_DivisionesAdministrativasN4",
                    "Identifier": "GenDivisionesAdministrativasN4",
                    "Module": "General",
                    "ConnectionKey": "Default",
                    "PermissionKey": "MantenimientoGeneral"
                },
                {
                    "Tablename": "dbo.Gen_DivisionesAdministrativasN3",
                    "Identifier": "GenDivisionesAdministrativasN3",
                    "Module": "General",
                    "ConnectionKey": "Default",
                    "PermissionKey": "MantenimientoGeneral"
                },
                {
                    "Tablename": "dbo.Gen_DivisionesAdministrativasN2",
                    "Identifier": "GenDivisionesAdministrativasN2",
                    "Module": "General",
                    "ConnectionKey": "Default",
                    "PermissionKey": "MantenimientoGeneral"
                },
                {
                    "Tablename": "dbo.Gen_DivisionesAdministrativasN1",
                    "Identifier": "GenDivisionesAdministrativasN1",
                    "Module": "General",
                    "ConnectionKey": "Default",
                    "PermissionKey": "MantenimientoGeneral"
                },
                {
                    "Tablename": "dbo.Gen_DivisionesAdministrativas",
                    "Identifier": "GenDivisionesAdministrativas",
                    "Module": "General",
                    "ConnectionKey": "Default",
                    "PermissionKey": "MantenimientoGeneral"
                },
                {
                    "Tablename": "dbo.Gen_Notas",
                    "Identifier": "GenNotas",
                    "Module": "Inventario",
                    "ConnectionKey": "Default",
                    "PermissionKey": "AdministracionDeInventario"
                },
                {
                    "Tablename": "dbo.Inv_Arrendadores",
                    "Identifier": "InvArrendadores",
                    "Module": "Inventario",
                    "ConnectionKey": "Default",
                    "PermissionKey": "AdministracionDeInventario"
                },
                {
                    "Tablename": "dbo.Inv_ArrendadoresContactos",
                    "Identifier": "InvArrendadoresContactos",
                    "Module": "Inventario",
                    "ConnectionKey": "Default",
                    "PermissionKey": "AdministracionDeInventario"
                },
                {
                    "Tablename": "dbo.Inv_CategoriasSoporteEstructura",
                    "Identifier": "InvCategoriasSoporteEstructura",
                    "Module": "Inventario",
                    "ConnectionKey": "Default",
                    "PermissionKey": "AdministracionDeInventario"
                },
                {
                    "Tablename": "dbo.Inv_Productos",
                    "Identifier": "InvProductos",
                    "Module": "Inventario",
                    "ConnectionKey": "Default",
                    "PermissionKey": "AdministracionDeInventario"
                },
                {
                    "Tablename": "dbo.Inv_Sitios",
                    "Identifier": "InvSitios",
                    "Module": "Inventario",
                    "ConnectionKey": "Default",
                    "PermissionKey": "AdministracionDeInventario"
                },
                {
                    "Tablename": "dbo.Inv_SitiosContratosArrendamiento",
                    "Identifier": "InvSitiosContratosArrendamiento",
                    "Module": "Inventario",
                    "ConnectionKey": "Default",
                    "PermissionKey": "AdministracionDeInventario"
                },
                {
                    "Tablename": "dbo.Inv_TiposEstructura",
                    "Identifier": "InvTiposEstructura",
                    "Module": "Inventario",
                    "ConnectionKey": "Default",
                    "PermissionKey": "AdministracionDeInventario"
                },
                {
                    "Tablename": "dbo.Gen_RegistroShortLog",
                    "Identifier": "GenRegistroShortLog",
                    "Module": "Inventario",
                    "ConnectionKey": "Default",
                    "PermissionKey": "AdministracionDeInventario"
                },
                {
                    "Tablename": "dbo.Log_RegistroSimple",
                    "Identifier": "LogRegistroSimple",
                    "Module": "Logs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Productos",
                    "Identifier": "Productos",
                    "ConnectionKey": "Default"
                },
                {
                    "Tablename": "dbo.Inv_Status",
                    "Identifier": "InvStatus",
                    "Module": "Inventario",
                    "ConnectionKey": "Default",
                    "PermissionKey": "AdministracionDeInventario"
                },
                {
                    "Tablename": "dbo.Inv_ProductosLegal",
                    "Identifier": "InvProductosLegal",
                    "Module": "Inventario",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Gen_TipoPago",
                    "Identifier": "GenTipoPago",
                    "Module": "General",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Inv_SitiosContratosArrendamientoProductos",
                    "Identifier": "InvSitiosContratosArrendamientoProductos",
                    "Module": "Inventario",
                    "ConnectionKey": "Default"
                }
            ]
        },
        {
            "Key": "Northwind",
            "ConnectionString": "Data Source=DESKTOP-3DJNAT8\\SQLEXPRESS;Initial Catalog=serene;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Inv_ArrendadoresContactos",
                    "Identifier": "InvArrendadoresContactos",
                    "Module": "Inventario",
                    "ConnectionKey": "Default",
                    "PermissionKey": "AdministracionDeInventario"
                },
                {
                    "Tablename": "dbo.Inv_SitiosContratosArrendamiento",
                    "Identifier": "InvSitiosContratosArrendamiento",
                    "Module": "Inventario",
                    "ConnectionKey": "Default",
                    "PermissionKey": "AdministracionDeInventario"
                }
            ]
        },
        {
            "Key": "SV",
            "ConnectionString": "Data Source=DESKTOP-7DF1LSE\\SQLEXPRESS;Initial Catalog=ErpSysMaintenance;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\erpSoftExteriores\\erpSoftExteriores.Web\\erpSoftExteriores.Web.csproj",
    "RootNamespace": "erpSoftExteriores",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "GenerateSSImports": false,
    "GenerateTSTypings": true,
    "GenerateTSCode": true,
    "RowFieldsSurroundWithRegion": false,
    "GenerateRow": true,
    "GenerateColumn": false,
    "GenerateForm": false,
    "GenerateEndpoint": false,
    "GenerateRepository": false,
    "GeneratePage": false,
    "GenerateGrid": false,
    "GenerateDialog": false,
    "GenerateGridEditor": false,
    "GenerateGridEditorDialog": false,
    "GenerateLookupEditor": true,
    "MaximizableDialog": true
}