
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Logs.LogRegistroSimple.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new erpSoftExteriores.Logs.LogRegistroSimpleGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>