
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Northwind.Customer.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new erpSoftExteriores.Northwind.CustomerGrid($('#GridDiv'), {});
        Q.alert("s");
        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>