
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.General.GenTipoPago.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new erpSoftExteriores.General.GenTipoPagoGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>