
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Inventario.InvStatus.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new erpSoftExteriores.Inventario.InvStatusGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>